header
    div.navbar-fixed
        nav.indigo.darken-4
            div.nav-wrapper
                cl-image.brand-logo.ds-logo.right(public-id="{{navbar.logo}}" quality="80")
                ul#nav-mobile.left
                    li.ds-menu-item
                        a(ui-sref="project") Apartments