nav#apartment-nav.z-depth-0.black
    a.brand-logo.center
        img.ds-logo(ng-src="images/logo-transparent-without-slogen.png")
    cl-image.brand-logo.right(public-id="{{navbar.logo}}" quality="80" crop="scale" height= "55")
    div.nav-wrapper.row
        div.col.s12.left
            a.breadcrumb.ds-green(ui-sref="{{navaprt}}({projId: {{projectCode}}})") {{'apartments' | translate}}
            //a.breadcrumb.grey-text.text-darken-2(ui-sref="designSuppliers({projId: 3, aptId:3") {{'designs' | translate}}