nav.z-depth-0.light-green
    cl-image.brand-logo.ds-logo.right(public-id="{{navbar.logo}}" quality="80")
    div.nav-wrapper.row
        div.col.s12.left
            a.breadcrumb.grey-text.text-darken-2(ui-sref="project") {{'apartments' | translate}}
            //a.breadcrumb.grey-text.text-darken-2(ui-sref="designSuppliers({projId: 3, aptId:3") {{'designs' | translate}}