.hebrew {
    direction: rtl;
}

.modal {
    height: 90% !important;
}
.ds-modal-close {
    position:absolute;
    top: 0;
    right:0;
}

/* Navigation */
/*nav {*/
    /*height: 100px !important;*/
/*}*/

.view-holder {
    margin-top: 50px;
}

.ds-menu-item {
    padding-top: 50px !important;
    padding-left: 15px !important;
}

/** project **/

.ds-card-row{
    display: inline-block;
    width: 30%;
    margin: 1%;
}

.ds-feature-icon {
    color: green;
}

.ds-feature{
    white-space: normal;
}

.ds-imaging {
    width: 100%;
}

.tabs .indicator {
    background-color: #B7D433;
}

.radio-green-light[type="radio"].with-gap:checked+label:after{
    border: 5px solid #B7D433;
    background-color: #B7D433;
}

.radio-green-light[type="radio"].with-gap:checked+label:before{
    border-radius: 50%;
    border: 5px solid #B7D433;
}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
}

