div
    br
div.row
    form.col.s9(name="roomsItems" )
        ul.collapsible(data-collapsible="expandable" )
            li(ng-repeat="room in roomItems" track by $index)
                div.collapsible-header
                    | {{room.title | translate}}
                div.row.collapsible-body.active
                    p
                        div
                            ul.col.s3(ng-repeat="item in room.items")
                                input(id="radio_{{$parent.$index}}_{{$index}}"  name="group{{$parent.$index}}" type="radio" ng-model="itemFilters[$parent.$index]" value="{{room.roomId}}_{{item.offeringId}}" ng-checked="isChecked($index)" )
                                label(for="radio_{{$parent.$index}}_{{$index}}")
                                cl-image(public-id="{{item.imgCode}}"  width="50" crop="scale" format="png" quality="80" )
                                | {{item.name}}
div.row
    div.col.s3
        //button.btn.waves-effect.waves-light(type="submit" name="action" ui-sref="designs({projId: {{projId}}, aptId: {{atId}})")
        button.btn.waves-effect.waves-light(type="submit" name="action" ui-sref="designs(getDesignsParams())")
            | {{'visualization' | translate}}
            i.material-icons.right send

//i.material-icons &#xE16B;
//i.material-icons &#xEB47
//i.material-icons &#xE53A
//i.material-icons &#xE63D
