div#video-div.row
    div.col.s12.m6.offset-m3.ds-design-item
        cl-video#video2.ds-imaging(public-id="{{videoList[2]}}"  preload="none" controls)
            cl-video-transformation(overlay="{{videoList[1]}}" flags="splice")
            cl-video-transformation(overlay="{{videoList[3]}}" flags="splice")
div.row
    a.col.offset-m3(socialshare socialshare-provider="facebook" socialshare-url="https://www.facebook.com/1848414988734528/videos/1848855945357099/")
        img.ds-facebook-image(ng-src="../../images/Share-on-Facebook-SM-300x58.png")
div.row
    form.col.s12.m8.offset-m2.ds-design-item(name="roomsItems" )
        ul.collapsible(data-collapsible="expandable" )
            li(ng-repeat="room in roomItems" track by $index)
                div.collapsible-header
                    i.material-icons {{getIcon(room.roomId)}}
                    | {{room.title | translate}}
                div.row.collapsible-body
                    ul
                        li.col.s4(ng-repeat="item in room.items")
                            input.with-gap.radio-green-light(id="radio_{{$parent.$index}}_{{$index}}"
                                name="group{{$parent.$index}}" type="radio"
                                ng-model="videoList[room.roomId]" ng-value="getVideoValue(item.supplierId, room.roomId, item.offeringId)"
                                ng-checked="isChecked($index)" ng-change="changeDesignVideo()")
                            label(for="radio_{{$parent.$index}}_{{$index}}")
                            cl-image(public-id="{{item.imgCode}}"  width="50" crop="scale" format="png" quality="80" )
                            |  {{item.name}}
//div.row
//    div.col.s4.offset-s4
//        button.btn.waves-effect.ds-green-background(type="submit" name="action" ng-click="playDesignVideo()" )
//            | {{'visualization' | translate}}
//            i.material-icons.right send