div.row
    div.col.s8
        div.row
            div.col.s6(ng-repeat="apt in apartments")
                div.card
                    div.card-image
                        cl-image(public-id="{{apt.image}}" format="png" quality="80")
                    div.light-green.card-content.center-align
                        h6.hebrew.white-text {{apt.name}}
                        a.waves-effect.grey-text.text-darken-2.waves-teal.btn-flat(ng-click="openApartmentModal(apt.image)") {{'apartmentblueprint' | translate}}
                        a.waves-effect.grey-text.text-darken-2.waves-teal.btn-flat(ui-sref="designSuppliers({projId: {{projectCode}}, aptId:{{apt.id}}})") {{'designs' | translate}}

    div.col.s4.ds-project-tabs
        ul.tabs
            li.tab.col.s1
                a.active.light-green-text(href="#aboutCompany") {{'company' | translate}}
            li.tab.col.s1
                a.light-green-text(href="#aboutProject") {{'project' | translate}}
            li.tab.col.s1
                a.light-green-text(href="#features") {{'features' | translate}}
        div#aboutCompany.hebrew
            cl-image(public-id="{{project.entrepreneurCachedData.logo}}"   format="png" quality="80" )
            div.grey-text.text-darken-2(ng-bind-html="project.entrepreneurCachedData.about")
        div#aboutProject.hebrew
            a(ng-click="openProjectModal()")
                cl-image(public-id="{{project.imageUrl}}"  width="300" crop="scale" format="png" quality="80" )

            div.grey-text.text-darken-2(ng-bind-html="project.about")
        div#features.hebrew
            p
                div(ng-repeat="feat in project.features")
                    i.material-icons.ds-feature-icon.light-green-text check
                    span.ds-feature.hebrew.grey-text.text-darken-2 {{feat}}


// Project Images Modal
div#projectModal.modal
    i.modal-close.material-icons.right cancel
    div.modal-content
        div.slider
            ul.slides
                li
                    cl-image(public-id="{{project.imageUrl}}" format="png" quality="80")

// Apartment Images Modal
div#AptModal.modal
    i.modal-close.material-icons.right cancel
    div.modal-content
        div.slider
            ul.slides
                li
                    cl-image(public-id="{{selectedApartment}}" format="png" quality="80")