// Project Images Modal
div#projectModal.modal
    i.modal-close.material-icons.right cancel
    div.modal-content
        div.slider
            ul.slides
                li
                    cl-image(public-id="{{project.imageUrl}}" format="png" quality="80")

// Apartment Images Modal
div#AptModal.modal
    i.modal-close.material-icons.right cancel
    div.modal-content
        div.slider
            ul.slides
                li
                    cl-image(public-id="{{selectedApartment}}" format="png" quality="80")



div.row
    div.col.s12
        div.row
            div.col.s12.m6(ng-repeat="apt in apartments")
                div.card.s12.m3
                    div.card-image
                        cl-image(public-id="{{apt.image}}" format="png" quality="80")
                    div.light-green.card-content.center-align
                        h6.hebrew.white-text {{apt.name}}
                        a.waves-effect.grey-text.ds-gray.waves-teal.btn-flat(ng-click="openApartmentModal(apt.image)") {{'apartmentblueprint' | translate}}
                        a.waves-effect.grey-text.ds-gray.waves-teal.btn-flat(ui-sref="designSuppliers({projId: {{projectCode}}, aptId:{{apt.id}}})") {{'designs' | translate}}
