doctype html
html(lang='en', ng-app='DisignStudio').no-js
    include header
    body(ng-controller='MainController')
        nav.black(role="navigation")
            div.nav-wrapper.container
                a#logo-container.brand-logo(href="index/#")
                    img.ds-logo(ng-src="images/logo-transparent-without-slogen.png")
                ul.right.hide-on.hide-on-med-and-down
                    li
                        a(href="#/#projects") {{'projects' | translate}}
                    li
                        a(href="#/#contact-us") {{'contact-us' | translate}}
                    li
                        a(ng-click="changeLanguage('en')") EN
                    li
                        a(ng-click="changeLanguage('he')") עברית
                ul#nav-mobile.side-nav.black
                    li
                        a(href="#") {{'main' | translate}}
                    li
                        a(href="#/#projects") {{'projects' | translate}}
                    li
                        a(href="#/#contact-us") {{'contact-us' | translate}}
                    li
                        a(ng-click="changeLanguage('en')") EN
                    li
                        a(ng-click="changeLanguage('he')") עברית
                a.button-collapse.ds-green(href="#" data-activates="nav-mobile")
                    i.material-icons menu
        div#index-banner.parallax-container
            div.parallax
                img.ds-background-image(ng-src="images/design1.jpg")
        div#projects.container
            div.section
                div.row
                    div.col.s12.center
                        div.icon-block.ds-gray
                            h3.center
                                i.material-icons home
                            h4 {{'projects' | translate}}
        menu-bar(navaprt="index")
        div#viewHolder.view-holder(ui-view)

        div.parallax-container
            div.parallax
                img.ds-background-image(ng-src="images/design2.jpg")
        div.container
            div.section
                <!--   Icon Section   -->
                div.row
                    div.col.s12.m6
                        div.icon-block
                            h2.center.ds-gray
                                i.material-icons shopping_cart
                            h5.center {{'home-decor-marketplace' | translate}}
                            p.light Disign Studio offers to apartment purchases 3D realistic video rendering in order to visual “tailor made” home decor. The company offers to choose a home decor, virtually walk in the apartment and see exactly the house they will get, already in the sales office where the apartment is in the plan stage
                    div.col.s12.m6
                        div.icon-block.ds-gray
                            h2.center
                                i.material-icons video_library
                            h5.center {{'user-experience-focused' | translate}}
                            p.light Disign Studio offers a marketplace where apartment purchases and home furnishing suppliers are met. The company brings the leading brands from all areas include kitchens, living rooms, dining tables, bedrooms, closets, bathroom fixtures, ceramics, tiles, light fixtures and curtains.

        div.parallax-container
            div.parallax
                img.ds-background-image(ng-src="images/design3.jpg")

        div#contact-us.container
            div.section
                div.row
                    div.col.s12.center.ds-gray
                        h3.center
                            i.mdi-content-send
                        h4 {{'contact-us' | translate}}
                        p.left-align.light {{'contact-us-messege' | translate}}
        div.parallax-container.valign-wrapper
            div.parallax
                img.ds-background-image(ng-src="images/design4.jpg")
        footer.page-footer.black
            div.container
                div.row
            div.footer-copyright
                div.container



