doctype html
html(lang='en', ng-app='DisignStudio').no-js
    include header
    body(ng-controller='MainController')
        menu-bar(navaprt="projectWindow")
        div#viewHolder.view-holder(ui-view)
