doctype html
html(lang='en', ng-app='DisignStudio')
  include header
  script.
    var projectIdParam = !{JSON.stringify(projectId)}
  body(ng-controller='StatsCtrl')
    div
      highchart#chart1(config="chartConfig1")
      hr
      highchart#chart2(config="chartConfig2")
      hr
      highchart#chart3(config="chartConfig3")